<dt class="long booking-details">Current Bookings</dt>
  {{#each currentBooking}}
     {{> currentBooking this}}
  {{/each}}

<dt class="long">Payment Method</dt>
  <dd class="long">
    <p>{{method}}
  </dd>

<dt class="long booking-details">Card Details</dt>
  <dd>
    <ul class="list">
      <li>Name: {{firstName}} {{lastName}}</li>
      <li>Bank: {{bank}}</li>
      <li>Card Type: {{cardType}}</li>
      <li>Card Number: ************7890</li>
      <li>CVV Number: **1</li>
      <li>Expiration: {{expiration}}</li>
    </ul>
  </dd>