<dd>
  <ul class="list">
    <li>Date: {{date}}</li>
    <li>Movie: {{movieName}}</li>
    <li>Location: {{location}}</li>
    <li>Cinema: {{cinemaID}}</li>
    <li>Quantity: {{quantity}}</li>
    <li>Total Price: {{totalPrice}}</li>
    <div class="cancel">
      <div class="button">
        <a href="#" class="edit">Cancel Booking</a> <!-- edit button -->
      </div>
    </div>
  </ul>
</dd>