{{#if done}}
<dt class="date">{{date}}</dt>
  <dd class="movie">
    <ul class="list">
      <li>Movie: {{movieName}}</li>
      <li>Location: {{location}}</li>
      <li>Cinema: {{cinemaID}}</li>
      <li>Quantity: {{quantity}}</li>
      <li>Total Price: {{totalPrice}}</li>
    </ul>
  </dd>
{{/if}}
