<dt class="date">{{booking.date}}</dt>
  <dd class="movie">
    <ul class="list">
      <li>Movie: {{booking.movieName}}</li>
      <li>Location: {{booking.location}}</li>
      <li>Cinema: {{booking.cinemaID}}</li>
      <li>Quantity: {{booking.quantity}}</li>
      <li>Total Price: {{booking.totalPrice}}</li>
    </ul>
  </dd>