{{#if done}}
<dt class="date">{{date}}</dt>
<dd class="movie">
  <ul class="list">
    <li>Movie: {{movieName}}</li>
    <li>Location: {{location}}</li>
    <li>Cinema: {{cinemaID}}</li>
    <li>Quantity: {{quantity}}</li>
    <li>Total Price: {{totalPrice}}</li>
    <form action="/cancelbooking" method="POST">
      <div class="cancel">
        <select name="date" id="date" class="dropdown">
          <option value="">Cancel Booking?</option>
          <option value="{{date}}">Yes</option>
        </select>
        <div class="button">
          <button class="edit">Confirm</button>
        </div>
      </div>
    </form>
  </ul>
</dd>
{{/if}}