{{#unless done}}
<dt class="date">{{date}}</dt>
<dd class="movie" id="{{_id}}">
  <ul class="list">
    <li class="details">Movie: {{movieName}}</li>
    <li class="details">Location: {{location}}</li>
    <li class="details">Time: {{time}}</li>
    <li class="details">Cinema: {{cinemaID}}</li>
    <li class="details">Quantity: {{quantity}}</li>
    <li class="details">Total Price: {{totalPrice}}</li>
    <button class="delete edit"> Cancel Booking </button>
    <!-- <form action="/cancelbooking" method="POST">
      <div class="cancel">
        <select name="date" id="date" class="dropdown">
          <option value="">Cancel Booking?</option>
          <option value="{{date}}">Yes</option>
        </select>
        <div class="button">
          <button class="edit">Confirm</button>
        </div>
      </div>
    </form> -->
  </ul>
</dd>
{{/unless}}
