<div class="section">
    <dt class="long card-info">Card Details</dt>
    <dd>
        <ul class="list">
        <li>Name: {{card.firstName}} {{card.lastName}}</li>
        <li>Bank: {{card.bank}}</li>
        <li>Card Type: {{card.cardType}}</li>
        <li>Card Number: {{card.cardNum}}</li>
        <li>CVV Number: {{card.cvv}}</li>
        <li>Expiration: {{card.expiration}}</li>
        </ul>
    </dd>
</div>