<div class="section">
    <dt class="long card-info">Card Details</dt>
    <dd>
        <ul class="list">
        <li>Name: {{firstName}} {{lastName}}</li>
        <li>Bank: {{bank}}</li>
        <li>Card Type: {{cardType}}</li>
        <li>Card Number: {{car}}</li>
        <li>CVV Number: **1</li>
        <li>Expiration: {{expiration}}</li>
        </ul>
    </dd>
</div>