<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/movie-details.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/movie-details-script.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}

    <p id="keepID" style="display: none">{{moviedetails._id}}</p>

    <div class="movie-details">
      <img class="movie-poster" src="../images/{{moviedetails.moviePoster}}">

      <div class="desc">
        <!-- contains movie details
        rating, genre, directors, synopsis-->
        <h2 id="movie-title">{{moviedetails.movieName}}</h2>

        <ul class="genres">
          <li>{{moviedetails.movieGenre1}}</li>
          <li>{{moviedetails.movieGenre2}}</li>
          <li>{{moviedetails.movieGenre3}}</li>
        </ul>

        <p class="synopsis">
          {{moviedetails.movieSynopsis}}
        </p>
        <!-- <h3>Directors</h3> -->
        <p class="info">
          <span>Directors:</span>
           {{moviedetails.movieDirector}}
        </p>
        <p class="info">
          <span>Cast:</span> <!-- up to 3 casts -->
           {{moviedetails.movieCast}}
        </p>

        <p class="synopsis">
          <span>Ticket Price:</span> <!-- up to 3 casts -->
           Php {{moviedetails.price}}
        </p>
        
        <ul class="movie-links">
          <li><a class="schedule" href="#schedule" >Schedule</a></li>
          <li><a class="trailer" href="{{moviedetails.movieTrailer}}" target="_blank">Watch Trailer</a></li>
        </ul>

      </div>

    </div>

    <div class="movie-banner">
      <img src="../images/banners/{{moviedetails.movieBanner}}">
    </div>





    <div id="schedule" style="visibility: hidden">
      <h2 class="titlesched">Schedule</h2>

      <div class="loc-buttons">
        <button type="button" class="tablink active" onclick="changeTab(event, 'loc1')">Manila City</button>
        <button type="button" class="tablink" onclick="changeTab(event, 'loc2')">Bacolod City</button>
        <button type="button" class="tablink" onclick="changeTab(event, 'loc3')">Davao City</button>
        <button type="button" class="tablink" onclick="changeTab(event, 'loc4')">Pangasinan</button>
        <button type="button" class="tablink" onclick="changeTab(event, 'loc5')">Bulacan</button>
      </div>

      <div id="sched-tab">

        <div id="loc1" class="location">
          <h3 class="cinema">Manila City<span class="cinema-num"></span></h3>
          <div class="sched-info">
            <ul class="avail dates" id="dates1">
              <li class="date-title">Available Dates</li>
              <li class="unavail">Unavailable</li>
            </ul>
            <ul class="avail times" id="times1">
              <li class="time-title">Available Times</li>
              <li class="unavail">Unavailable</li>
            </ul>
          </div>
        </div>

        <div id="loc2" class="location" style="display:none">
          <h3 class="cinema">Bacolod City<span class="cinema-num"></span></h3>
          <div class="sched-info">
            <ul class="avail dates" id="dates2">
              <li class="date-title" >Available Dates</li>
              <li class="unavail">Unavailable</li>
            </ul>
            <ul class="avail times" id="times2">
              <li class="time-title">Available Times</li>
              <li class="unavail">Unavailable</li>
            </ul>
          </div>

        </div>

        <div id="loc3" class="location" style="display:none">
          <h3 class="cinema">Davao City<span class="cinema-num"></span></h3>
          <div class="sched-info">
            <ul class="avail dates" id="dates3">
              <li class="date-title" >Available Dates</li>
              <li class="unavail">Unavailable</li>
            </ul>
            <ul class="avail times" id="times3">
              <li class="time-title">Available Times</li>
              <li class="unavail">Unavailable</li>
            </ul>
          </div>

        </div>

        <div id="loc4" class="location" style="display:none">
          <h3 class="cinema">Pangasinan<span class="cinema-num"></span></h3>
          <div class="sched-info">
            <ul class="avail dates" id="dates4">
              <li class="date-title" >Available Dates</li>
              <li class="unavail">Unavailable</li>
            </ul>
            <ul class="avail times" id="times4">
              <li class="time-title">Available Times</li>
              <li class="unavail">Unavailable</li>
            </ul>
          </div>

        </div>

        <div id="loc5" class="location" style="display:none">
          <h3 class="cinema">Bulacan<span class="cinema-num"></span></h3>
          <div class="sched-info">
            <ul class="avail dates" id="dates5">
              <li class="date-title">Available Dates</li>
              <li class="unavail">Unavailable</li>
            </ul>
            <ul class="avail times" id="times5">
              <li class="time-title">Available Times</li>
              <li class="unavail">Unavailable</li>
            </ul>
          </div>

        </div>
      </div>




    </div>



    <div id="book-container">
      <h2 class="choosesched" style="visibility : hidden">Choose a Schedule</h2>
      <div id="choosesched" class="form" style="visibility : hidden">

        <!-- <h3 class="date-time">
          You're booking <span id="book-date">[choose a date]</span> on <span id="book-time">[choose a time]</span>, at the <span id="book-loc">Manila City</span> Branch
        </h3> -->
        <form id="schedForm">
          <div class="ticket">
            <label for="loc-form">Select Location</label><br />
            <select name="loc-form" id="loc-form" required>
              <option value="invalid" disabled selected hidden>Select Location</option>
            </select>

          <label for="date-form"><br />Select Date</label><br />
          <select name="date-form" id="date-form" required>
            <option value="invalid" disabled selected hidden>Select Date</option>
          </select>

          <label for="time-form"><br />Select Date</label><br />
          <select name="time-form" id="time-form" required>
            <option value="invalid" disabled selected hidden>Select Time</option>
          </select>

          </div>
        </form>

      </div>
      <div class="booknow" style="display: none;">
        <!-- <a href="{{moviedetails._id}}/booking" class="bookbutton" onclick="showDiv('booknow')">Book Now</a> -->
        <a class="bookbutton">Book Now</a>
        <!-- '{{moviedetails._id}}/booking?date='
        <a href="{{moviedetails._id}}/booking'?date='+chosenDate+'&time='+chosenTime" class="bookbutton" onclick="location.href=this.href+'?date='+chosenDate+'&time='+chosenTime">Book Now</a> -->
      </div>




      </div>

    </div>


    {{> footer}}

  </body>
</html>
