<!DOCTYPE html>
<html lang="en" dir="ltr">
    
  <head>
    <title>User Account - Booking History</title>
    <link rel="stylesheet" href="profile.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/userProfileScript.js"></script>
  </head>
  <body>
    {{> header}}

    <div id="box">
      <div id="info">
        <img id="profile" src="../images/{{pictureID.pictureName}}.{{pictureID.pictureType}}" />
        <h1 id="name">{{firstName}} {{lastName}}</h1>
          <div class="button">
            <a href="#" class="edit">Edit Profile</a>
          </div>
          <div class="button">
            <a href="#" class="edit">Log Out</a>
          </div>
      </div>
      
      <div id="details">
        <div id="profile-bar">
          <ul class="profileTop">
            <li><button type="button" class="profileTop current" onclick="changeTab(event, 'accountDetails')">Account Details</button></li>
            <li><button type="button" class="profileTop" onclick="changeTab(event, 'bookingDetails')">Booking Details</button></li>
            <li><button type="button" class="profileTop" onclick="changeTab(event, 'bookingHistory')">Booking History</button></li>
          </ul>
        </div> 
        
        <dl> <!-- details portion -->
          <div id="accountDetails" class="profileTop">
            <dt>Name</dt>
              <dd>
                <p>{{firstName}} {{lastName}}
              </dd>
            <dt>Gender</dt>
              <dd>
                <p>{{gender}}
              </dd>
            <dt>Birthday</dt>
              <dd>
                <p>{{birthday}}
              </dd>
            <dt>Contact Number</dt>
              <dd>
                <p>{{contactNum}}
              </dd>
            <dt>Email</dt>
              <dd>
                <p>{{email}}
              </dd>
          </div>

          <div id="bookingDetails" class="profileTop">
            <dt class="long booking-details">Current Bookings</dt>
              {{#each currentBooking}}
                {{> currentBooking this}}
              {{/each}}

            <dt class="long">Payment Method</dt>
              <dd class="long">
                <p>{{method}}
              </dd>

            <dt class="long booking-details">Card Details</dt>
              <dd>
                <ul class="list">
                  <li>Name: {{firstName}} {{lastName}}</li>
                  <li>Bank: {{bank}}</li>
                  <li>Card Type: {{cardType}}</li>
                  <li>Card Number: ************7890</li>
                  <li>CVV Number: **1</li>
                  <li>Expiration: {{expiration}}</li>
                </ul>
              </dd>
          </div>

          <div id="bookingHistory" class="profileTop">
            {{#each bookingHistory}}
                {{> bookingHistory this}}
              {{/each}}
          </div>
        </dl>

      </div>
    </div>
    {{> footer}}
</body>
</html>