<!DOCTYPE html>
<html lang="en" dir="ltr">
    
  <head>
    <title>User Account - Booking History</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/userProfileScript.js"></script>
  </head>
  <body>
    {{> header}}

    <div id="box">
      <div id="info">
        <img id="profile" src="../images/{{user.picture}}" />
        <h1 id="name">{{user.firstName}} {{user.lastName}}</h1>
        <form></form>
          <div class="button">
            <a href="/usereditprofile" class="edit">Edit Profile</a>
          </div>
        </form>
          <div class="button">
            <a href="#" class="edit">Log Out</a>
          </div>
      </div>
      
      <div id="details">
        <div id="profile-bar">
            <button type="button" class="profileTop current" onclick="changeTab(event, 'accountDetails')">Account Details</button>
            <button type="button" class="profileTop" onclick="changeTab(event, 'bookingDetails')">Booking Details</button>
            <button type="button" class="profileTop" onclick="changeTab(event, 'bookingHistory')">Booking History</button>
        </div> 
        
        <div id="accountDetails" class="tabInfo">
          <div class="section">
            <dt>Name</dt>
            <dd>
              <p>{{user.firstName}} {{user.lastName}}
            </dd>
          </div>
          <div class="section">
            <dt>Gender</dt>
            <dd>
              <p>{{user.gender}}
            </dd>
          </div>
          <div class="section">
            <dt>Birthday</dt>
            <dd>
              <p>{{user.birthday}}
            </dd>
          </div>
          <div class="tall section">
            <dt class="long">Contact Number</dt>
            <dd>
              <p>{{user.contactNum}}
            </dd>
          </div>
          <div class="section">
            <dt>Email</dt>
            <dd>
              <p>{{user.email}}
            </dd>
          </div>
        </div>

        <div id="bookingDetails" class="tabInfo" style="display:none">
            {{> userCardInfo}}
          <div class="tall section">
            <dt class="long booking-details">Current Bookings</dt>
              {{#each currentBooking}}
                  {{> currentBooking}}
              {{/each}}
          </div>
        </div>

        <div id="bookingHistory" class="tabInfo" style="display:none">
          <div class="tall section">
            <dt class="long booking-details">Current Bookings</dt>
              {{#each bookingHistory}}
                  {{> bookingHistory}}
              {{/each}}
          </div>
        </div>

      </div>
    </div>
    {{> footer}}
</body>
</html>