<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>{{user.username}}'s Profile</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/userProfileScript.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    {{> header}}

    <div id="box">
      <div id="info">
        <img id="profile" src="../images/{{user.picture}}" />
        <h1 id="name">{{user.firstName}} {{user.lastName}}</h1>
        <form></form>
          <div class="button">
            <a href="/usereditprofile" class="edit">Edit Profile</a>
          </div>
        </form>
          <div class="button">
            <a href="/logout" class="edit">Log Out</a>
          </div>
      </div>

      <div id="details">
        <div id="profile-bar">
            <button type="button" class="profileTop current" onclick="changeTab(event, 'accountDetails')">Account Details</button>
            <button type="button" class="profileTop" onclick="changeTab(event, 'bookingDetails')">Booking Details</button>
            <button type="button" class="profileTop" onclick="changeTab(event, 'bookingHistory')">Booking History</button>
        </div>

        <div id="accountDetails" class="tabInfo">
          <div class="section">
            <dt>Name</dt>
            <dd>
              <p>{{user.firstName}} {{user.lastName}}
            </dd>
          </div>
          <div class="section">
            <dt>Gender</dt>
            <dd>
              <p>{{user.gender}}
            </dd>
          </div>
          <div class="section">
            <dt>Birthday</dt>
            <dd>
              <p id="bday">{{user.birthday}}
            </dd>
          </div>
          <div class="tall section">
            <dt class="long">Contact Number</dt>
            <dd>
              <p>{{user.contactNum}}
            </dd>
          </div>
          <div class="section">
            <dt>Email</dt>
            <dd>
              <p>{{user.email}}
            </dd>
          </div>
        </div>

        <div id="bookingDetails" class="tabInfo scroll" style="display:none">
          {{> userCardInfo}}
          <br>
          <div class="section"></div>
            <p>Current Bookings</p>
              {{#each currentBooking}}
                  {{> currentBooking this}}
              {{/each}}
          </div>
        </div>

        <div id="bookingHistory" class="tabInfo scroll" style="display:none">
          <div class="section">
              {{#each bookingHistory}}
                  {{> bookingHistory this}}
              {{/each}}
          </div>
        </div>

      </div>
    </div>
    {{> footer}}
</body>
</html>
